<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Definir votre nouveau mot de passe</title>
</head>
<body>
    <h2>Definir votre nouveau mot de passe</h2>
    {% if validlink %}
    <p>Veuillez entrer votre nouveau mot de passe ci-dessous .</p>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="uid" value="{{ uid }}">
        <input type="hidden" name="token" value="{{ token }}">
        <label for="new_password1">Nouveau mot de passe :</label>
        <input type="password" id="new_password1" name="new_password1" required>
        <label for="new_password2">Confirmez le nouveau mot de passe :</label>
        <input type="password" id="new_password2" name="new_password2" required>
        <button type="submit">Changer mon mot de passe</button>
    </form>
    {% else %}
    <p>Le lien reinitialisation du mot de passe est invalide, peut-etre parce qu'il a deja ete utilise ou est expire.
        <br>
        Veuillez demander un nouveau lien de reinitialisation </p>
         <a href="{% url 'password_reset' %}">
            Demander un nouveau lien de reinitialisation
        </a>
    {% endif %}
</body>
</html>